
</div>
    <div class="footer bg-dark text-light text-center mt-4 py-4">
        <!-- <a href="/" class="btn btn-outline-light" ><h4><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out </h4></a> -->
        
        <p><i class="fa fa-copyright" aria-hidden="true"></i> ShaDE 2022</p>
    </div>
</div>
</body>
</html>
